@font-face {
    font-family: 'Roboto';
    src: url(../lib/flaticon/font/RobotoSlab-Regular.ttf);
    /* src: url(../lib/flaticon/font/RobotoSlab-Bold.ttf); */
    /* src: url(../lib/flaticon/font/RobotoSlab-Light.ttf); */
    /* src: url(../lib/flaticon/font/RobotoSlab-Thin.ttf); */
}
body {
  font-family: 'Roboto';
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.col-sm-4{
  /* margin: 0; */
  padding: 0;
}
.bob{
  border-bottom: 1px solid rgb(30, 29, 29);
  /* width: 50%; */
  text-align: center;
}
.bob2{
    border-bottom: 1px solid rgb(18, 17, 16);
 
  }
.h1 {
    font-family: 'Roboto';
    font-size: 2.5rem;
  /* font-weight: 700; */
}
.h2 {
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 700;
}
.h3 {
  font-size: 1rem;
  font-weight: 600;
}
.h4{
  font-family: 'Roboto';
    font-size: 1rem;
    color: orangered;
font-weight: 700;
}
.h5 {
  font-size: 1rem;
  font-weight: 700;
}
.h6{
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 700;
}
.bb{
    color: orangered;
    font-weight: 700 !important;
}
.sm {
  font-size: 0.59rem;
}
.sm1 {
  font-size: 0.69rem;
  font-weight: 700;
}
.sm1 {
  font-size: 0.69rem;
  font-weight: 500;
}
.top {
  height: 100px;
  background-color: rgb(210, 61, 7);
  color: whitesmoke;
}
.form-control{
  border-radius: 0;
  width: 300px;
}
.ma_le{
margin-left: 150px;
}
.mrr {
  margin-right: -50px;
}
.mll {
  margin-left: 350px;
}
.mlr{
  margin-left: 10px;
  margin-right: 10px;
}
.bbo{
  font-size: 20px;
}
.hrr {
  /* width: 26%; */
  height: 2px;
  background-color: rgb(170, 167, 167);
  /* display: flex; */
  /* justify-content: center; */
}
.hrr .hrr2 {
  background-color: orangered;
  width: 15%;
  height: 2px;
  
}
.frr{
  float: right;
}
.owl {
  overflow-x: auto;
  flex-wrap: nowrap;
  /* margin: 10px; */
  /* width: 100%; */
}
.btn {
  border-radius: 0;
}
.btn-orange {
  background-color: orangered;
  border-radius: 0;
}
.btn-orange:hover {
  background-color: rgb(241, 107, 58);
  border-radius: 0;
}
.bg-img {
  /* background-image: url(../img/h1.jpeg); */
  /* position: relative; */
  color: rgb(250, 246, 246);
  background-size: cover;
  height: 500px;
  text-align: center;
}
.centered1 {
  /* position: absolute; */
  padding-top: 10%;
  text-align: center;
  color: rgb(255, 255, 255);
  /* transform: translate(-50%, -50%); */
}
.card-first {
  /* position: absolute; */
  margin-top: -150px;
}
.show {
  visibility: hidden;
  height: 0;
}
.hide {
  visibility: visible;
}
.featured {
  position: relative;
  color: rgb(255, 255, 255);
  /* width: 15%; */
  margin: 0.5%;
  /* padding: 5px; */
}
.featured img {
  width: 300px;
  height: 300px;
/* opacity: 0.7; */
border-radius: 5px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 10px;
  float: left;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 10px;
}
.bottom-right {
  position: absolute;
  bottom: -16px;
  right: 30px;
}
.round-img {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.round-img img {
  width: 150px;
  height: 150px;
}
.bg-img2 {
  background-image: url(../img/h3.jpeg);
  position: relative;
  color: rgb(21, 20, 20);
  background-size: cover;
  height: 500px;
  text-align: center;
  /* opacity: 0.8; */
}
.how-img {
  /* position: absolute; */
  text-align: center;
}
.how-img img {
  width: 100px;
  height: 100px;
}
.choose {
  position: relative;
  color: rgb(20, 16, 16);
  /* width: 15%; */
  /* margin: 2%; */
  padding: 5px;
  text-align: center;
  color: rgb(9, 9, 9);
}
.choose img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  border-radius: 5px;
  
}
.border-bottom1{
  border-bottom: 2px solid orangered;

}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-img-top {
  height: 250px;
}
