@media (max-width: 991.98px) {
  .ma_le{
    margin-left: 0px;
    }
  .mrr {
    margin-right: -0px;
  }
  .mll {
    margin-left: 0px;
  }
  .mrr2{
    margin-right: -120px;
  }
  .frr{
    float: left;
  }
  .show {
    visibility: visible;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .hide {
    visibility: hidden;
    height: 0;
  }
  .bottom-right {
    position: absolute;
    bottom: -5px;
    right: 15px;
  }
  .top {
    display: flex;
    flex-direction: column;
    font-size: 0.59rem;
    visibility: hidden;
  }
  .centered1{
    padding-top: 150px;
  }
  .form-control{
    border-radius: 0;
    width: 100%;
  }
  .card-first{
    margin-top: -100px;
  }
  .tb{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tb2{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
